.App {
  /* background-color: #2e497e; */
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%); 

  box-shadow: -2px 6px 18px 3px rgba(0, 0, 0, 0.74);
  padding: 5rem;
  margin-top: 5rem;
  border-radius: 50px;
}

.btn {
  height: 65px;
  width: 130px;
  border-radius: 20px;
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%); 
  color: aqua;
  font-weight: 800;
  font-size: 13.5px;
  box-shadow: -2px 3px 14px 3px rgba(0, 0, 0, 0.74);
}

.btn:hover {
  background-color: #5371ae;
  cursor: pointer;
}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn:disabled {
  box-shadow: none;
  transform: none;
  background-color: rgba(255, 255, 255, 0.201);
  background-image: linear-gradient(225deg, #ff3caa3d 0%, #784ba049 50%, #2b85c56e 100%); 

}

.header {
  display: flex;
  height: 60px;
  width: 800px;
  text-align: center;
  margin: 0 auto;
  box-shadow: -2px 6px 18px 3px rgba(0, 0, 0, 0.74);
  padding: 2rem;
  border-radius: 50px;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-image: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
}

.logo{
  height: 90px;
  width: 90px;
}


.input {
  position: relative;
  font-size: 1.5em;
  background: linear-gradient(21deg, #10abff, #1beabd);
  padding: 3px;
  display: inline-block;
  border-radius: 9999em;
  margin-bottom: 2rem;
}
.input *:not(span) {
  position: relative;
  display: inherit;
  border-radius: inherit;
  margin: 0;
  border: none;
  outline: none;
  padding: 0 0.325em;
  z-index: 1;
}
.input *:not(span):focus + span {
  opacity: 1;
  transform: scale(1);
}
.input span {
  transform: scale(0.993, 0.94);
  transition: transform 0.5s, opacity 0.25s;
  opacity: 0;
  position: absolute;
  z-index: 0;
  margin: 4px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #1beabd, -3px 3px 30px #10abff;
}